# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json

# Python
__pycache__


/data
.env

src/server
/src/settings.*
!/src/settings.ts
!/src/settings.default.ts

/server/postgres/data
