# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json

# Python
__pycache__


# Nemovid
/data
.env

/src/server
/src/settings/settings.*
!/src/settings/settings.default.ts

/server/postgres/data
