.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  h3,
  h4 {
    margin: 0;
  }
}

.filterSection {
  & > h3 {
    cursor: pointer;
  }
}

.mapLegend {
  & > h3 {
    cursor: pointer;
  }
}
.mapLegendItems {
  display: grid;
  grid-template-columns: 30px auto;
  background-color: white;
  padding: 2px;
}

.mapLegendPolygon {
  height: 20px;
  width: 20px;
  margin: 2px;
  border-style: solid;
}
