.wrapper {
  position: relative;
  margin-bottom: 8px;
}

.inputs {
  display: flex;
  flex-direction: row;
}

.inputRoot {
  flex-grow: 1;
}

.inputInput {
  height: auto;
  padding-top: 22px;
  padding-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.label {
  position: absolute;
  pointer-events: none;
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  padding-top: calc(var(--mantine-spacing-sm) / 2);
  z-index: 1;
}

.maxInput .inputInput {
  text-align: right;
}

.maxInput .label {
  right: 0;
}

.slider {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.thumb {
  width: 16px;
  height: 16px;
}

.track {
  &::before {
    background-color: var(--mantine-color-gray-4);
  }
}

.bar {
  border-radius: 0;
}
